@{
    ViewData["Title"] = "Strona główna";
}
@model MyBudget.App.Queries.Budget.GetBudgetsQueryResponse;

<div>
    <h1>Witaj @User.Identity!.Name!</h1>
    <div>
        <h2>Szablony budżetów</h2>
        @foreach (var budgetTemplate in Model.BudgetTemplates)
        {
            <div>
                <a href="/budget-template/@budgetTemplate.Id">Podgląd</a>
                <form asp-controller="BudgetTemplate" asp-action="UpdateBudgetTemplate">
                    <input type="hidden" name="Id" value="@budgetTemplate.Id"/>
                    <input type="text" name="Name" placeholder="Nazwa" value="@budgetTemplate.Name"/>
                    <input type="submit" value="Edytuj!"/>
                </form>
                <form asp-controller="BudgetTemplate" asp-action="DeleteBudgetTemplate">
                    <input type="hidden" name="Id" value="@budgetTemplate.Id"/>
                    <input type="submit" value="Usuń!"/>
                </form>
                <form asp-controller="Budget" asp-action="CreateBudget">
                    <input type="hidden" name="BudgetTemplateId" value="@budgetTemplate.Id"/>
                    <input type="submit" value="Utwórz nowy budżet!"/>
                </form>
            </div>
        }
        <h3>Stwórz nowy szablon:</h3>
        <form asp-controller="BudgetTemplate" asp-action="CreateBudgetTemplate">
            <input type="text" placeholder="Nazwa" name="Name" />
            <input type="submit" value="Stwórz!"/>
        </form>
    </div>
    <div>
        <h2>Aktywne budżety</h2>
        @foreach (var activeBudget in Model.ActiveBudgets)
        {
            <div>@activeBudget.Name, @activeBudget.From, @activeBudget.To</div>
        }
    </div>
    <div>
        <h2>Historyczne budżety</h2>
        @foreach (var archivedBudget in Model.ArchivedBudgets)
        {
            <div>@archivedBudget.Name, @archivedBudget.From, @archivedBudget.To</div>
        }
    </div>
    <div>
        <h2>Schematy operacji</h2>
        @foreach (var operationTemplate in Model.OperationTemplates)
        {
            <div>@operationTemplate.Name, @operationTemplate.CategoryName, @operationTemplate.DefaultValue, @operationTemplate.ValueType, @operationTemplate.BudgetTemplateId</div>
        }
    </div>
    <div>
        <h2>Kategorie operacji</h2>
        @foreach (var categories in Model.Categories)
        {
            <div>@categories.Name</div>
        }
    </div>
    @Html.ActionLink("Wyloguj się!", "Logout", "User")
</div>